.header {
    background-color: white;
}

.header__img {
    height: 4rem;
    display: block;
    width: auto;
}
.header__writeUp {
    color: var(--color-primary);
}

.navigation {
    display: flex;
    gap: 2rem;
}

.navigation__link {
    color: var(--color-grey-dark);
    text-transform: uppercase;
}

.navigation__link:hover {
    color: var(--color-primary);
}

.homepage {
    background-image: url("./images/bg7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--color-white);
}
.homepage__phoneimage {
    height: 80%;
}
.homepage__writeUp {
    width: 50%;
}
.homepage__writeUp-header h2 {
    font-size: 4.5rem;
    line-height: 1.3;
}

.homepage__writeUp-header h3 {
    font-size: 3.7rem;
}
.homepage__writeUp-paragraph {
    font-size: 2.4rem;
    margin-bottom: 3rem;
}
.homepage__appstore-linkImg {
    width: 80%;
}

.team__heading {
    color: var(--color-primary);
    font-size: 3.7rem;
}
.team__paragraph {
    font-size: 2.4rem;
}

.learn-more__header {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}
.learn-more__header h2 {
    font-size: 3.7rem;
    font-weight: 300;
    color: var(--color-primary);
}
.learn-more__header h3 {
    font-size: 2.4rem;
    font-weight: 300;
}

.learn-more__plans-list {
    list-style: none;
}

.learn-more__item-header {
    font-size: 2.7rem;
    font-weight: 200;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.learn-more__item-paragraph {
    font-size: 1.8rem;
    color: var(--color-grey-dark);
}

.faqs-policy__heading {
    font-size: 3.7rem;
    font-weight: 300;
    color: var(--color-primary);
}
.faqs-policy__writeUp {
    font-size: 2.4rem;
    font-weight: 300;
    gap: 1rem;
    color: var(--color-grey-dark);
}

.faqs-policy__item-header {
    font-size: 3.4rem;
    font-weight: 300;
}

.connect {
    margin: 5rem 0;
}
.connect__header {
    font-size: 3.7rem;
    font-weight: 300;
    color: var(--color-primary);
}
.connect__body {
    display: flex;
    justify-content: space-around;
    gap: 25rem;
}
.connect__img-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2.4rem;
    color: var(--color-grey-dark);
}
.footer__img-body {
    height: 2.5rem;
    display: flex;
}

.footer__img {
    height: 100%;
}

.footer__img-body {
    color: var(--color-white);
}
.footer__img-container {
    padding: 0.5rem 1rem;
}
.facebook {
    background-color: var(--color-facebook-blue);
    border-radius: 0.5rem;
}
.twitter {
    border-radius: 1rem;
    background-color: var(--color-twitter-blue);
}
.footer__paragraph {
    font-size: 2rem;
    color: var(--color-grey-dark);
}

.divider {
    grid-column: main-start/main-end;
    height: 0.5px;
    width: 100%;
    background-image: linear-gradient(
        to right,
        rgb(250, 250, 250) 10%,
        rgb(250, 250, 250) 10%,
        var(--color-grey-dark) 40%,
        var(--color-grey-dark) 40%,
        rgb(250, 250, 250) 100%,
        rgb(250, 250, 250) 100%
    );
    /* box-shadow: 0 2px 1px var(--color-grey-dark); */
}
