.root {
    max-width: 144rem;
}

.root {
    display: grid;
    grid-template-columns:
        [start]minmax(5rem, 1fr) [main-start]repeat(10, 1fr) [main-end] minmax(
            5rem,
            1fr
        )
        [end];
    grid-auto-rows: min-content;
}

.header {
    grid-column: start/end;
    height: 7rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.header__main {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 25rem;
}

.homepage {
    grid-column: start/end;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}
.homepage__writeUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.team {
    grid-column: main-start/main-end;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.learn-more {
}
