.root {
    max-width: 144rem;
    margin: 0 auto;
}

.root {
    display: grid;
    grid-template-columns:
        [start]minmax(5rem, 1fr) [main-start]repeat(10, 1fr) [main-end] minmax(
            5rem,
            1fr
        )
        [end];
    grid-auto-rows: min-content;
}

@media screen and (max-width: 22.5em) {
    .root {
        grid-template-columns: [start]1fr [main-start]repeat(10, 1fr) [main-end] 1fr[end];
    }
}
.header {
    grid-column: start/end;
    height: 7rem;
    padding: 0 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
.header__main {
    display: flex;
    align-items: center;
    gap: 2rem;
    width: 25rem;
}

@media screen and (max-width: 53.125em) {
    .header {
        grid-column: start/end;
        height: 7rem;
        padding: 0 3rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: sticky;
        top: 0;
    }
}
.navigation-opener {
    display: none;
}
@media screen and (max-width: 43.75em) {
    .navigation {
        position: fixed;
        transition: all 0.5s;
        top: -100%;
        left: 0;
        width: 100%;
    }
    .navigation-opener {
        width: 5rem;
        height: 5rem;
        position: fixed;
        top: 1rem;
        left: 2rem;
        z-index: 10;
        background-color: var(--color-primary);
        box-shadow: 2px 2px 2px var(--color-grey-dark);
        transition: all 0.5s;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .input {
        display: none;
    }

    .label__sign {
        height: 3px;
        background-color: var(--color-white);
        width: 4rem;
        opacity: 1;
        transition: all 0.5s;
    }
    .label__sign::before {
        transform: translateY(-10px);
        content: "";
        display: block;
        height: 3px;
        background-color: var(--color-white);
        width: 4rem;
        opacity: 1;
        transition: all 0.5s;
    }
    .label__sign::after {
        transform: translateY(8px);
        transform-origin: center;
        content: "";
        display: block;
        height: 3px;
        background-color: var(--color-white);
        width: 4rem;
        transition: all 0.5s;
    }

    input:checked + .navigation-opener > label > .label__sign {
        background-color: transparent;
    }
    input:checked + .navigation-opener > label .label__sign::before {
        transform: translateX(0) rotate(-45deg);
        background-color: var(--color-grey-dark);
    }
    input:checked + .navigation-opener > label .label__sign::after {
        transform: translateX(-1px) rotate(45deg);
        background-color: var(--color-grey-dark);
    }
    input:checked + .navigation-opener {
        background-color: var(--color-white);
        box-shadow: none;
    }
    input:checked ~ .navigation {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 7rem 7rem;

        background-color: var(--color-white);
        z-index: 5;
        gap: 2rem;

        /* .navigation__link {
            color: var(--color-grey-dark);
            text-transform: capitalize;
            font-size: 2rem;
        } */
    }
    .header__main {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        width: 100%;
    }
    .header {
        grid-column: start/end;
        position: static;
    }
}

.homepage {
    grid-column: start/end;
    height: 130vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10rem;
}
.homepage__writeUp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
@media screen and (max-width: 46.25em) {
    .homepage {
        flex-direction: column;
        height: 150rem;
        padding: 0 5rem;
    }
}
@media screen and (max-width: 41.8em) {
    .homepage {
        height: 120rem;
    }
}
@media screen and (max-width: 28.125em) {
    .homepage {
        height: 100rem;
    }
}
.team {
    grid-column: main-start/main-end;
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
}

.learn-more {
    grid-column: main-start/main-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 0;
}
.learn-more__plans-list {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 49.375em) {
    .learn-more__plans-list {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
}

.learn-more__list-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.faqs-policy {
    grid-column: main-start/main-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin: 5rem 0;
}
.faqs-policy__writeUp {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

.connect {
    grid-column: main-start/main-end;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}
.connect__body {
    display: flex;
    justify-content: space-around;
    gap: 25rem;
}
@media screen and (max-width: 49.375em) {
    .connect__body {
        gap: 10rem;
    }
}
@media screen and (max-width: 35em) {
    .connect__body {
        gap: 5rem;
    }
}

.footer {
    grid-column: main-start/main-end;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__img-body {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.footer__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}
